@import url('../main/main.css');

.diagram {
    display: flex;
    align-items: center;
    height: 371px;
    top: -50px !important; 

    &__item {
        position: relative;
        width: 2px;
        max-width: 2px;
        margin: 0 10px;
        background: linear-gradient(#3fc8d1,  #40979d);
        transition: .6s;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -5px;
            top:  50%;
            transform: translate(0, -50%);
            min-width: 12px;
            height: 50%;
            background: linear-gradient(#3fc8d1,  #40979d);
        }
    }
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 86%;

    &__item {
        position: absolute;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
            top: 0px;
            left: 0px;
        }
        &:nth-child(2) {
            top: 60px;
            left: 30px;
        }
        &:nth-child(3) {
            top: 10px;
            right: 50%;
        }
        &:nth-child(4) {
            left: 120px;
            bottom: 180px;
        }
        &:nth-child(5) {
            top: 50%;
            right: 10%;
        }
        &:nth-child(6) {
            top: 50%;
            left: 30px;
        }
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
        }
        &.active {
            &::before {
                animation: star 2s infinite ease;
            }
        }
        @keyframes star {
            0% {
                transform: scale(.5);
                opacity: .5;
            }
            50% {
                transform: scale(1);
                opacity: 1;
                
            }
            100% {
                transform: scale(.5);
                opacity: .5;
            }
        }
    }
}
.starsX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__item {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        &:nth-child(1) {
            bottom: 20%;
            left: 8%;
            transform: rotate(10deg);
        }
        &:nth-child(2) {
            bottom: 15%;
            left: 34%;
        }
        &:nth-child(3) {
            right: 30%;
            bottom: 20%;
            transform: rotate(3deg);
        }
        &:nth-child(4) {
            top: 42%;
            left: 35%;
        }
        &:nth-child(5) {
            top: 48%;
            right: 4%;
        }
        &:nth-child(6) {
            bottom: 13%;
            transform: rotate(62deg);
            right: 11%;
        }
        &:nth-child(7) {
            top: 49%;
            right: 33%;
            transform: rotate(3deg);
        }
        &:nth-child(8) {
            top: 60%;
            left: 0%;
            transform: rotate(18deg);
        }
        &::before {
            content: '';
            display: block;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            width: 100%;
            height: 7%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
        &::after {
            content: '';
            display: block;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            width: 7%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        span {
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            display: block;
            width: 50%;
            height: 50%;
        }
        &.active {
            animation: starsX 2s infinite ease;
        }
    }
}

.starsY {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__item {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        &:nth-child(1) {
            bottom: 20%;
            left: 8%;
            transform: rotate(10deg);
        }
        &:nth-child(2) {
            bottom: 22%;
            left: 34%;
        }
        &:nth-child(3) {
            right: 30%;
            bottom: 53%;
            transform: rotate(3deg);
        }
        &:nth-child(4) {
            top: 29%;
            left: 35%;
        }
        &:nth-child(5) {
            top: 7%;
            right: 37%;
        }
        &:nth-child(6) {
            top: 13%;
            left: 4%;
            transform: rotate(62deg);
        }
        &:nth-child(7) {
            top: 45%;
            right: 50%;
            transform: rotate(3deg);
        }
        &:nth-child(8) {
            top: 50%;
            left: 0%;
            transform: rotate(18deg);
        }
        &::before {
            content: '';
            display: block;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            width: 100%;
            height: 7%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
        &::after {
            content: '';
            display: block;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            width: 7%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        span {
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            display: block;
            width: 50%;
            height: 50%;
        }
        &.active {
            animation: starsX 2s infinite ease;
        }
    }
}

.starsZ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__item {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        &:nth-child(1) {
            bottom: 8%;
            left: 8%;
            transform: rotate(10deg);
        }
        &:nth-child(2) {
            bottom: 22%;
            left: 34%;
        }
        &:nth-child(3) {
            left: 30%;
            bottom: 53%;
            transform: rotate(3deg);
        }
        &:nth-child(4) {
            bottom: 10%;
            left: 52%;
        }
        &:nth-child(5) {
            top: 7%;
            left: 37%;
        }
        &::before {
            content: '';
            display: block;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            width: 100%;
            height: 7%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
        &::after {
            content: '';
            display: block;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            width: 7%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
        span {
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(120, 113, 140, 0.42) 58%, rgba(21, 9, 55, 0) 100%);
            background-blend-mode: color-dodge;
            mix-blend-mode: color-dodge;
            display: block;
            width: 50%;
            height: 50%;
        }
        &.active {
            animation: starsX 2s infinite ease;
        }
    }
}


@keyframes starsX {
    0% {
        transform: scale(.2);
        opacity: .5;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.2);
        opacity: .5;
    }
}

.card,
.pen,
.seven {
    position: absolute;
}
.pen {
    top: 12px;
    right: 25px;
    width: 25px;
}
.seven {
    width: 24px;
    overflow: hidden;

    svg {
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.seven-1 {
    top: 80px;
    left: 78px;
}
.seven-2 {
    top: 80px;
    left: 120px;
}
.seven-3 {
    top: 80px;
    left: 164px;
}
.card-1 {
    width: 25px;
    bottom: 35px;
    left: 60px;
}
.card-2 {
    width: 20px;
    bottom: 22px;
    left: 90px;
}
.card-3 {
    bottom: 25px;
    left: 105px;
    width: 25px;
}
.card-4 {
    bottom: 17px;
    left: 118px;
    width: 15px;
}
.card-5 {
    bottom: 20px;
    right: 90px;
    width: 40px;
}
.card-6 {
    bottom: 45px;
    right: 65px;
    width: 20px;
}

.pen {
    
    &.active {
        animation: pen .5s linear;
    }
    @keyframes pen {
        0% {
            transform: rotateX(0deg);
            top: 12px;
        }
        50% {
            transform: rotateX(-40deg);
            top: 19px;
        }
        100% {
            transform: rotateX(0deg);
            top: 12px;
        }
    }
}

.seven {
    height: 50px;
    overflow: hidden;
}